lexref @ file:///C:/Users/Martin/lexparency/reflex/dist/lexref-1.9.5.tar.gz
django == 3.2.7
lxml == 4.6.3
SPARQLWrapper == 1.8.5
rdflib == 4.2.2
elasticsearch-dsl == 7.4.0
elasticsearch == 7.14.1
jsonschema == 3.2.0
django-http-exceptions == 1.4.0