{% extends 'base_sidebared.html' %}
{% load static %}


{% block meta %}
  <meta name="robots" content="{% if current_version %}noindex,{% endif %}nofollow">
  {# it is important to not allow other versions to be indexed. Otherwise,
     the crawler makes it's own decision. That is sometimes wrong. #}
  <link rel="canonical" href="https://{{ messenger.this_domain }}{{ canonical_path }}">
  <!-- this article properties -->
  <meta about="{{ url }}" typeof="eli:LegalResourceSubdivision"/>
  <meta about="{{ url }}" property="eli:is_part_of"  content="https://{{ messenger.this_domain }}/{{ cover.domain }}/{{ document_id }}/"/>
  <link rel="prev" href="/{{ cover.domain }}/{{ document_id }}/{{ neighbours.left.id }}/{{ version }}">
  {% if neighbours.right is not none %}
    <link rel="next" href="/{{ cover.domain }}/{{ document_id }}/{{ neighbours.right.id }}/{{ version }}">
  {% endif %}
{% endblock %}


{% block style %}
  <link rel="stylesheet" href="{% static 'css/oj.css' %}">
{% endblock %}


{% block sideBar %}
  <nav class="w3-sidebar w3-bar-block w3-collapse w3-theme-l6 w3-animate-left" id="mySidebar">
    {% include "fragments/sidebar_article.html" %}
  </nav>
{% endblock %}


{% block mainBody %}
  {% include 'fragments/handholded_navigator.html' %}
  <div id="mainBodyInner" class="w3-container w3-twothird">
    <div id="article" style="margin-bottom:32px">
      <h1>
        {{ article.ordinate|safe }}
        {% if article.title is not none and article.title is defined %}
          &mdash; {{ article.title|safe }}
        {% endif %}
      </h1>
      {{ article.body|safe }}
    </div>
    <div id="supportOptionsSmall" class="w3-hide-large w3-hide-medium" style="width:301px;height:251px">
      {% include 'fragments/panel_bottom_small.html' %}
    </div>
    {% include 'fragments/nationals.html' %}
  </div>
  <span id="permalink_to_this_p" style="display: none">{{ messenger.permalink_to_this_p }}</span>
  <div id="previewContents" class="w3-hide"></div>
{% endblock %}


{% block script %}
  {{ block.super }}
  <!--suppress JSUnresolvedLibraryURL -->
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
  <script type="text/javascript" src="{% static 'js/jquery.hoverIntent.min.js' %}"></script>
  <!-- build:js inline ../static/js/document_search.min.js -->
  <script type="text/javascript" src="{% static 'js/document_search.js' %}"></script>
  <!-- /build -->
  <!-- build:include ../templates/fragments/hypothesis_js.html --><!-- /build -->
{% endblock %}

{% block on_load %}
  articleJumper();
  readerMain(false);
{% endblock %}