<div id="pagination" class="w3-medium w3-left w3-bar-item">
  <img width="18px" height="18px" src="/static/icons/copy-black.svg" alt="{{ messenger.pages }}" style="margin-right: 5px">
  {% for page in hits.pages %}
    {% if page.role == 'i' %}
      <a rel="nofollow" href="{{ page.href }}" class="w3-button w3-round-large">{{ page.page }}</a>
    {% elif page.role == 'x' %}
      <a href="#" class="w3-button w3-round-large w3-theme-l2">{{ page.page }}</a>
    {% elif page.role == '<' %}
      <a rel="nofollow" href="{{ page.href }}" class="w3-button w3-round-large">
        <img
          width="14px"
          height="16px"
          src="/static/icons/chevron-left-grey.svg"
          aria-hidden="true"
          alt="{{ messenger.previous }}">
      </a>
    {% elif page.role == '>' %}
      <a rel="nofollow" href="{{ page.href }}" class="w3-button w3-round-large">
        <img
          width="14px"
          height="16px"
          src="/static/icons/chevron-right-grey.svg"
          aria-hidden="true"
          alt="{{ messenger.next }}">
      </a>
    {% endif %}
  {% endfor %}
</div>