{% load static %}
{% if messenger.lang_2 == 'de' %}
  <h4 class="w3-container">Lexparency unterstützen:</h4>
  <div class="w3-row w3-margin-left">
    <div style="padding:2px" class="w3-col s4"><a rel="nofollow" href="https://www.paypal.com/paypalme/lexparency" target="_blank">Spenden</a></div>
    <div style="padding:2px" class="w3-col s4"><a rel="nofollow" href="https://shop.spreadshirt.de/lexparency/" target="_blank">Einkaufen</a></div>
    <div style="padding:2px" class="w3-col s4"><a rel="nofollow" href="https://www.twitter.com/lexparency" target="_blank">Folgen</a></div>
    <div style="padding:2px" class="w3-col s4"><a rel="nofollow" href="https://reflector.lexparency.org/manual/de/" target="_blank">Verlinken</a></div>
    <div style="padding:2px" class="w3-col s4"><a rel="nofollow" href="https://zenodo.org/record/4626030" target="_blank">Analysieren</a></div>
    <div style="padding:2px" class="w3-col s4"><a href="mailto:mail@{{ messenger.this_domain }}">Schreiben</a></div>
    <div style="padding:2px" class="w3-col s4">Teilen:</div>
    <div style="padding:2px" class="w3-col s6">
      <a target="_blank" class="lxp-share-button-2 w3-theme-l2 w3-round-medium" rel="nofollow" href="https://www.xing.com/social_plugins/share?url={{ url }}"><img width="25px" height="25px" src="{% static 'icons/xing.svg' %}" alt="Xing"></a>
      <a target="_blank" class="lxp-share-button-2 w3-theme-l2 w3-round-medium" rel="nofollow" href="https://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ title }}"><img width="25px" height="25px" src="{% static 'icons/linkedIn.svg' %}" alt="LinkedIn"></a>
      <a target="_blank" class="lxp-share-button-2 w3-theme-l2 w3-round-medium" rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}"><img width="25px" height="25px" src="{% static 'icons/facebook.svg' %}" alt="facebook"></a>
      <a target="_blank" class="lxp-share-button-2 w3-theme-l2 w3-round-medium" rel="nofollow" href="https://twitter.com/intent/tweet?&url={{ url }}"><img width="25px" height="25px" src="{% static 'icons/twitter.svg' %}" alt="twitter"></a>
    </div>
  </div>
{% elif messenger.lang_2 == 'es' %}
  <h4 class="w3-container">Apoyar Lexparency:</h4>
  <div class="w3-row w3-margin-left">
    <div style="padding:2px" class="w3-col s4"><a rel="nofollow" href="https://www.paypal.com/paypalme/lexparency" target="_blank">Donar</a></div>
    <div style="padding:2px" class="w3-col s4"><a rel="nofollow" href="https://shop.spreadshirt.de/lexparency/" target="_blank">Compras</a></div>
    <div style="padding:2px" class="w3-col s4"><a rel="nofollow" href="https://www.twitter.com/lexparency" target="_blank">Seguir</a></div>
    <div style="padding:2px" class="w3-col s4"><a rel="nofollow" href="https://reflector.lexparency.org/manual/de/" target="_blank">Enlazar</a></div>
    <div style="padding:2px" class="w3-col s4"><a rel="nofollow" href="https://zenodo.org/record/4626030" target="_blank">Analizar</a></div>
    <div style="padding:2px" class="w3-col s4"><a href="mailto:mail@{{ messenger.this_domain }}">Escribir</a></div>
    <div style="padding:2px" class="w3-col s4">Compartir:</div>
    <div style="padding:2px" class="w3-col s6">
      <a target="_blank" class="lxp-share-button-2 w3-theme-l2 w3-round-medium" rel="nofollow" href="https://www.xing.com/social_plugins/share?url={{ url }}"><img width="25px" height="25px" src="{% static 'icons/xing.svg' %}" alt="Xing"></a>
      <a target="_blank" class="lxp-share-button-2 w3-theme-l2 w3-round-medium" rel="nofollow" href="https://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ title }}"><img width="25px" height="25px" src="{% static 'icons/linkedIn.svg' %}" alt="LinkedIn"></a>
      <a target="_blank" class="lxp-share-button-2 w3-theme-l2 w3-round-medium" rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}"><img width="25px" height="25px" src="{% static 'icons/facebook.svg' %}" alt="facebook"></a>
      <a target="_blank" class="lxp-share-button-2 w3-theme-l2 w3-round-medium" rel="nofollow" href="https://twitter.com/intent/tweet?&url={{ url }}"><img width="25px" height="25px" src="{% static 'icons/twitter.svg' %}" alt="twitter"></a>
    </div>
  </div>
{% else %}
  <h4 class="w3-container">Support Lexparency:</h4>
  <div class="w3-row w3-margin-left">
    <div style="padding:2px" class="w3-col s4"><a rel="nofollow" href="https://www.paypal.com/paypalme/lexparency" target="_blank">Donate</a></div>
    <div style="padding:2px" class="w3-col s4"><a rel="nofollow" href="https://shop.spreadshirt.de/lexparency/" target="_blank">Shop</a></div>
    <div style="padding:2px" class="w3-col s4"><a rel="nofollow" href="https://www.twitter.com/lexparency" target="_blank">Follow</a></div>
    <div style="padding:2px" class="w3-col s4"><a rel="nofollow" href="https://reflector.lexparency.org/manual/de/" target="_blank">Link</a></div>
    <div style="padding:2px" class="w3-col s4"><a rel="nofollow" href="https://zenodo.org/record/4626030" target="_blank">Analyse</a></div>
    <div style="padding:2px" class="w3-col s4"><a href="mailto:mail@{{ messenger.this_domain }}">Send Feedback</a></div>
    <div style="padding:2px" class="w3-col s4">Share:</div>
    <div style="padding:2px" class="w3-col s6">
      <a target="_blank" class="lxp-share-button-2 w3-theme-l2 w3-round-medium" rel="nofollow" href="https://www.xing.com/social_plugins/share?url={{ url }}"><img width="25px" height="25px" src="{% static 'icons/xing.svg' %}" alt="Xing"></a>
      <a target="_blank" class="lxp-share-button-2 w3-theme-l2 w3-round-medium" rel="nofollow" href="https://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ title }}"><img width="25px" height="25px" src="{% static 'icons/linkedIn.svg' %}" alt="LinkedIn"></a>
      <a target="_blank" class="lxp-share-button-2 w3-theme-l2 w3-round-medium" rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}"><img width="25px" height="25px" src="{% static 'icons/facebook.svg' %}" alt="facebook"></a>
      <a target="_blank" class="lxp-share-button-2 w3-theme-l2 w3-round-medium" rel="nofollow" href="https://twitter.com/intent/tweet?&url={{ url }}"><img width="25px" height="25px" src="{% static 'icons/twitter.svg' %}" alt="twitter"></a>
    </div>
  </div>
{% endif %}