{% extends 'base.html' %}

{% block meta %}
  <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block body %}
  {% include 'fragments/top_nav_base.html' %}
  {% if messenger.language_2 == 'de' %}
    <div class="w3-content w3-padding-64" style="max-width: 700px">
      <div class="w3-container" style="min-height: 70vh">
        <h1 class="w3-margin-top">Impressum</h1>
        <p>
          Dieses Impressum gilt für die Domains lexparency.de, <a href="https://lexparency.es">lexparency.es</a>
          und <a href="https://lexparency.org">lexparency.org</a>. Bitte beachten Sie, dass wir keine
          Rechtsberatung erteilen oder konkrete Rechtsanwälte im Einzelfall
          empfehlen. Wir bitten daher von entsprechenden Anfragen abzusehen.
        </p>
        <p>
            Betreiberin von Lexparency.de ist:
        </p>
        <ul style="list-style-type: none">
            <li><a href="https://openjur.de/i/ueber.html" target="_blank" rel="noopener">openJur gUG (haftungsbeschränkt)</a></li>
            <li>Tinsdaler Heideweg 48</li>
            <li>22559 Hamburg</li>
        </ul>
        <p>vertreten durch den Geschäftsführer: Benjamin Bremert
          <br>Registergericht des Amtsgericht Hamburg, HRB 166379
          <br>als gemeinnützig (Förderung der Bildung (§ 52 Abs. 2 Satz 1 Nr. 7 AO)
              sowie Wissenschaft und Forschung (§ 52 Abs. 2 Satz 1 Nr. 1 AO))
              anerkannt durch das Finanzamt Hamburg-Nord
              mit Bescheid nach § 60a Abs. 1 AO vom 25.11.2020, Steuernummer 17/451/10823
          <br>verantwortlich gemäß § 18 Abs. 2 MStV: Benjamin Bremert (Anschrift wie oben)
        </p>
        <ul style="list-style-type: none">
          <li>Telefon: (+49) 040/209 319 41 - 0</li>
          <li>Telefax: (+49) 040/209 319 41 - 9</li>
        </ul>
        <p>Sie erreichen uns auch per E-Mail an <a rel="nofollow" href="mailto:lexparency@openjur.de">lexparency@openjur.de</a>.
           Wir freuen uns über Feedback und Vorschläge zur Verbesserung von Lexparency!
        </p>
      </div>
    </div>
  {% elif messenger.language_2 == 'en' %}
    <div class="w3-content w3-padding-64" style="max-width: 700px">
      <div class="w3-container" style="min-height: 70vh">
        <h1 class="w3-margin-top">Imprint</h1>
        <p>
           This imprint applies to the domains <a href="https://lexparency.de">lexparency.de</a>, <a href="https://lexparency.es">lexparency.es</a>
           and lexparency.org. Please note that we do not
           provide legal advice or recommend specific lawyers for individual cases.
           Therefore, we ask you to refrain from such requests.
        </p>
        <p>
            Lexparency.org is provided by:
        </p>
        <ul style="list-style-type: none">
            <li><a href="https://openjur.de/i/ueber.html" target="_blank" rel="noopener">openJur gUG (haftungsbeschränkt)</a></li>
            <li>Tinsdaler Heideweg 48</li>
            <li>22559 Hamburg</li>
        </ul>
        <p>represented by chief executive: Benjamin Bremert
          <br>Registration office of the Amtsgericht Hamburg, HRB 166379
          <br>recognised as charitable (facilitation of education (§ 52 Abs. 2 Satz 1 Nr. 7 AO)
              as well as science and investigation (§ 52 Abs. 2 Satz 1 Nr. 1 AO))
              via the financial authority Hamburg-Nord
              via notification according to § 60a Abs. 1 AO from 25.11.2020, tax number 17/451/10823
          <br>responsible under § 18 Abs. 2 MStV: Benjamin Bremert (address see above)
        </p>
        <ul style="list-style-type: none">
          <li>Phone: (+49) 040/209 319 41 - 0</li>
          <li>Fax: (+49) 040/209 319 41 - 9</li>
        </ul>
        <p>You can also reach us via email to <a rel="nofollow" href="mailto:lexparency@openjur.de">lexparency@openjur.de</a>.
           We are grateful to receive feedback and proposals for improving Lexparency!
        </p>
      </div>
    </div>
  {% elif messenger.language_2 == 'es' %}
    <div class="w3-content w3-padding-64" style="max-width: 700px">
      <div class="w3-container" style="min-height: 70vh">
        <h1 class="w3-margin-top">Aviso legal</h1>
        <p>
           El presente aviso se aplica a los dominios lexparency.es,
            <a href="https://lexparency.de">lexparency.de</a>,
            y <a href="https://lexparency.org">lexparency.org</a>. Avisamos que
            no realizamos asesoría legal, ni damos recomendaciónes de abogados para casos
            individuales.
            Por eso les rogamos que se abstengan de contactarnos por dichas consultas.
        </p>
        <p>
            Lexparency.es es gestionado por:
        </p>
        <ul style="list-style-type: none">
            <li><a href="https://openjur.de/i/ueber.html" target="_blank" rel="noopener">openJur gUG (haftungsbeschränkt)</a></li>
            <li>Tinsdaler Heideweg 48</li>
            <li>22559 Hamburg</li>
        </ul>
        <p>está representado por su gerente <i>Benjamin Bremert</i>,
          <br>registro del <i>Amtsgericht Hamburg</i>, HRB 166379
          <br>declarada de utilidad pública (fomento de educación (§ 52 Abs. 2 Satz 1 Nr. 7 AO)
              además de ciencia e investigación (§ 52 Abs. 2 Satz 1 Nr. 1 AO))
              por la agencia tributaria <i>Hamburg-Nord</i>
              a través de una resolución administrativa según § 60a Abs. 1 AO from 25.11.2020,
              número fiscal 17/451/10823
          <br>responsable según § 18 Abs. 2 MStV: Benjamin Bremert (dirección véase arriba)
        </p>
        <ul style="list-style-type: none">
          <li>teléfono: (+49) 040/209 319 41 - 0</li>
          <li>fax: (+49) 040/209 319 41 - 9</li>
        </ul>
        <p>También nos puede contactar a través de correo electrónico <a rel="nofollow" href="mailto:lexparency@openjur.de">lexparency@openjur.de</a>.
           Agradecemos recibir comentarios y propuestas para mejorar Lexparency!
        </p>
      </div>
    </div>
  {% endif %}
  {% include 'fragments/footer_base.html' %}
{% endblock %}