<!DOCTYPE html>
<html lang="{{ messenger.language_2 }}" vocab="http://schema.org/" prefix="eli: http://data.europa.eu/eli/ontology#">
  <head id="head">
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}" />

    {% block meta %}
    {% endblock %}

    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32" >
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16" >

    <!-- build:css inline ../static/built.min.css -->
    <link rel="stylesheet" href="/static/css/slick.css">
    <link rel="stylesheet" href="/static/css/w3.css">
    <link rel="stylesheet" href="/static/css/w3-theme-black.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <!-- /build -->

    <!--suppress CssUnusedSymbol -->
    <style>
      .lxp-definition-term::before,
      .lxp-quotation::before {
        content: "{{ messenger.quotation_marks.pre }}"
      }
      .lxp-definition-term::after,
      .lxp-quotation::after {
        content: "{{ messenger.quotation_marks.post }}"
      }
    </style>
    {% block style %}
    {% endblock %}
  <title>{{ title }}</title>
  </head>
  <body>
    {% block body %}
    {% endblock %}

   <!-- Google Page-Load test unfortunately complains that the CDNs for tippy and jquery have no cache information -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/tippy.all.min.js"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>