{% extends 'base.html' %}

{% block meta %}
  <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block body %}
  {% include 'fragments/top_nav_base.html' %}
  {% if messenger.language_2 == 'de' %}
    <div class="w3-content w3-padding-64" style="max-width: 700px">
      <div class="w3-container">
        <h1>Datenschutzerklärung</h1>
          <p>
            Mit dieser Datenschutzerklärung möchten wir Sie, als Nutzer dieser
            Webanwendung, bzgl. Art, Umfang und
            Zweck der Verarbeitung von personenbezogenen Daten über unsere
            Anwendung geben.
          </p>
        <h2>I. Erhebung und Speicherung personenbezogener Daten</h2>
          <p>
            Bei dem Aufruf dieser Website werden durch den Browser der auf Ihrem Endgerät
            (z.B. Computer, Tablet, Smartphone etc.) verwendet wird,
            automatisch Informationen an den Server gesendet auf dem unsere Webanwendung gehostet ist.
            Diese Informationen werden temporär in einer sogenannten Logdatei gespeichert.
          </p>
          <p>
            Dabei handelt es sich um folgende Informationen:
          </p>
          <ul>
            <li>IP-Adresse des anfragenden Rechners (pseudonymisiert)</li>
            <li>Datum und Uhrzeit des Zugriffs,</li>
            <li>URL der abgerufenen Inhalte,</li>
            <li>verwendeter Browser.</li>
          </ul>
        <h2>Art und Zweck der Verwendung personenbezogener Daten</h2>
          <p>
            Diese Informationen werden technisch ohne Ihr Zutun erfasst und bis zur
            automatisierten Löschung gespeichert. Die genannten Daten werden durch
            uns verarbeitet, um einen reibungslosen Verbindungsaufbau und eine komfortable
            Nutzung unserer Website zu gewährleisten, um die Systemsicherheit und -stabilität
            auszuwerten sowie für administrative Zwecke.
          </p>
          <p>
            Der Datenverarbeitung liegt damit ein berechtigtes Interesse unsererseits
            zugrunde (Rechtsgrundlage: <a rel="nofollow" href="/eu/32016R0679/ART_6/#1-f">Art. 6 Absatz 1 Buchstabe f DSGVO</a>),
            welches aus den zuvor benannten Zwecken der Datenerhebung folgt.
            Wir verwenden die erhobenen Daten nicht zu dem Zweck, Rückschlüsse auf Ihre Person zu erhalten.
        </p>
        <h2 id="cookies">II. Cookies</h2>
          <p>
              Diese Webanwendung verwendet Cookies zur anonymisierten
              Reichweitenmessung, die entweder von unserem Server oder dem
              Server Dritter an den Browser des Nutzers übertragen werden.
              Bei Cookies handelt es sich um kleine Dateien, welche auf Ihrem
              Endgerät gespeichert werden. Ihr Browser greift auf diese Dateien
              zu. Durch den Einsatz von Cookies erhöht sich die
              Benutzerfreundlichkeit und Sicherheit dieser Website.
              Durch das Setzen eines Cookies erhalten wir keine unmittelbare
              Kenntnis von Ihrer Identität.
          </p>
          <p>
              Gängige Browser bieten die Einstellungsoption, Cookies nicht zuzulassen.
              Falls Sie nicht möchten, dass Cookies zur Reichweitenmessung auf Ihrem
              Endgerät gespeichert werden, können Sie von dieser Option gebrauch machen.
              Hinweis: Es ist nicht gewährleistet, dass Sie auf alle Funktionen
              dieser Website ohne Einschränkungen zugreifen können, wenn Sie
              entsprechende Einstellungen vornehmen.
          </p>
          <p>
              Die durch Cookies verarbeiteten Daten sind für die genannten Zwecke
              zur Wahrung unserer berechtigten Interessen sowie der Dritter
              erforderlich (Rechtsgrundlage: <a rel="nofollow" href="/eu/32016R0679/ART_6/#1-f">Art. 6 Absatz 1 Buchstabe f DSGVO</a>).
          </p>
      </div>
    </div>
  {% elif messenger.language_2 == 'en' %}
    <div class="w3-content w3-padding-64" style="max-width: 700px">
      <div class="w3-container">
        <h1>Data protection</h1>
        <p>
          With this privacy policy, we want to give you (i.e., as a user, prospect, and / or visitor)
            information on the nature, extent, and purpose of processing personal information through our online presence.
        </p>
        <h2>I. Collection / storage of personal data / nature and purpose of their use</h2>
        <p>
          When this website is accessed, the browser used on your device (for example, computer, tablet, smartphone, etc.)
            automatically sends information to the server on which our website is stored.
            This information is temporarily stored in a so-called logfile (log file).
        </p>
        <p>
          These are the following information:
        </p>
        <ul>
          <li>
            IP address of the requesting computer (pseudonymised)
          </li>
          <li>
            Date and time of access,
          </li>
          <li>
            Website from which access is made (referrer URL),
          </li>
          <li>
            Name and URL of the retrieved file,
          </li>
          <li>
            used browser and possibly the operating system of your computer.
          </li>
        </ul>
        <p>
          This information is collected technically without your intervention and stored until automated deletion.
            We process this data to ensure a smooth connection and convenient use of our website,
            to evaluate system security and stability, and for administrative purposes.
        </p>
        <p>
          Data processing is therefore based on a legitimate interest on our part
            (legal basis: <a rel="nofollow" href="/eu/32016R0679/ART_6/#1-f">Art. 6 (1) (f) GDPR</a>),
            which follows the aforementioned data collection purposes.
            We do not use the data collected for the purpose of obtaining inferences about your person.
        </p>
        <h2 id="cookies">II. Cookies</h2>
        <p>
          Cookies are used on this website.
            Cookies are small files that your browser or Internet access program
            automatically creates and that are stored on your device (laptop, tablet, smartphone, etc.) when you visit our site.
            Cookies do not contain viruses, Trojans or malicious software.
            A cookie is used to store information that relates to the specific device you are using.
            By setting a cookie, we do not receive any direct knowledge of your identity.
        </p>
        <p>
          The use of cookies on this website serves on the one hand to make the use of it more pleasant for you.
            So-called session cookies can be used so far to recognize that you have already visited individual pages of our website.
            These are automatically deleted after leaving our page. On the other hand, we use temporary cookies to optimize usability.
            These cookies are stored on your device for a certain period of time.
            If you visit our site again to take advantage of the services offered,
            you will automatically be aware that you have already been with us and about what inputs and settings you
            have made in order not to have to re-enter them.
        </p>
        <p>
          The data processed by cookies are required for the purposes mentioned
            to safeguard our legitimate interests as well as those of third parties
            (legal basis: <a rel="nofollow" href="/eu/32016R0679/ART_6/#1-f">Art. 6 (1) (f) GDPR</a>).
        </p>
        <p>
          Prevent Cookie Storage: Most browsers accept cookies automatically.
            However, you can configure your browser so that no cookies are stored on your computer,
            or always a hint appears before a new cookie is created.
            However, disabling cookies completely may mean that you can not use all features of our website.
            You can find information on the corresponding settings in the documentation for your Internet access software (browser).
        </p>
      </div>
    </div>
  {% elif messenger.language_2 == 'es' %}
    <div class="w3-content w3-padding-64" style="max-width: 700px">
      <div class="w3-container">
        <h1>Protección de datos</h1>
        <p>Con esta declaración de protección de datos nos gustaría informarle,
            como usuario de esta aplicación web, el tipo, alcance y finalidad
            del tratamiento de datos personales a través de nuestra aplicación.
        </p>
        <h2>I. Collección / almacenaje de datos personales / naturaleza y fin de uso</h2>
        <p>
          Cuando visita este sitio web, el navegador utilizado en su dispositivo
            (por ejemplo, computadora, tableta, teléfono inteligente, etc.) envía
            información automáticamente al servidor en el que está alojada
            nuestra aplicación web. Esta información se almacena temporalmente
            en un archivo de registro.
        </p>
        <p>
          Esta es la siguiente información:
        </p>
        <ul>
          <li>
            Dirección IP de la computadora solicitante (pseudonimizada)
          </li>
          <li>
            Fecha y hora de acceso,
          </li>
          <li>
            URL del contenido accedido,
          </li>
          <li>
            navegador usado.
          </li>
        </ul>
        <p>
          Esta información se registra técnicamente sin ninguna acción por su
            parte y se almacena hasta que se elimina automáticamente. Los datos
            mencionados son procesados ​​por nosotros para garantizar una
            conexión fluida y un uso conveniente de nuestro sitio web, para
            evaluar la seguridad y estabilidad del sistema y para fines
            administrativos.
        </p>
        <p>
          Por lo tanto, el procesamiento de datos se basa en un interés legítimo
            de nuestra parte (base legal: Art. 6, párrafo 1, letra f) del RGPD),
            que se deriva de los fines de recopilación de datos antes mencionados.
            No utilizamos los datos recopilados con el fin de sacar conclusiones
            sobre usted personalmente.
        </p>
        <h2 id="cookies">II. Cookies</h2>
        <p>
          Esta aplicación web utiliza cookies para la medición de rango anónima,
            que se transmiten al navegador del usuario desde nuestro servidor o
            el servidor de terceros. Las cookies son pequeños archivos que se
            almacenan en su dispositivo. Su navegador accede a estos archivos.
            El uso de cookies aumenta la facilidad de uso y la seguridad de este
            sitio web. Configurar una cookie no nos da ningún conocimiento
            directo de su identidad.
        </p>
      </div>
    </div>
  {% endif %}
  {% include 'fragments/footer_base.html' %}
{% endblock %}