{% extends 'base.html' %}

{% block meta %}
  <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block body %}
  {% include 'fragments/top_nav_base.html' %}
  {% if messenger.language_2 == 'de' %}
    <div class="w3-content w3-padding-64" style="max-width: 700px">
      <div class="w3-container">
        <h1>Datenschutzerklärung</h1>
        <p>
          Auf dieser Seite informieren wir Sie über die im Rahmen der Nutzung
          der Seite "Lexparency" (im Folgenden: Lexparency) stattfindenden
          Datenverarbeitung und inwieweit dabei personenbezogene Daten durch
          die openJur gUG (haftungsbeschränkt) (im Folgenden: Betreiberin oder
          wir) verarbeitet werden. Das Wichtigste in Kürze:
        </p>
        <ul class="w3-ul">
            <li>Wir speichern keine Informationen über identifizierbaren
                Einzelzugriffe auf Inhalte von Lexparency.
            </li>
            <li>Wir verwenden keine Cookies.</li>
            <li>Wir verwenden Ihre IP-Adresse und eindeutige
                Identifizierungsmerkmale Ihres Endgerätes lediglich im
                technisch notwendigen Rahmen um die Nutzung von
                Lexparency zu ermöglichen.
            </li>
            <li>Wir verwenden Ihre IP-Adresse darüber hinaus um unsere
                Systeme zu schützen, wenn Sie versuchen unberechtigt auf
                unsere Systeme zuzugreifen oder in unsere Systeme
                einzudringen.
            </li>
        </ul>

        <h2>Informationspflichten i.S.d. Art. 13 DSGVO</h2>
        <p>Kontaktdaten der Verantwortlichen, Art. 13 Abs. 1 lit. a DSGVO</p>

        <ul style="list-style-type: none">
          <li><a href="https://openjur.de/i/ueber.html" target="_blank" rel="noopener">openJur gUG (haftungsbeschränkt)</a></li>
          <li>Tinsdaler Heideweg 48</li>
          <li>22559 Hamburg</li>
          <li style="padding-top: 7px">Telefon: (+49) 040/209 319 41 - 0</li>
          <li>Telefax: (+49) 040/209 319 41 - 9</li>
          <li>E-Mail-Adresse: <a rel="nofollow" href="mailto:post@openjur.de">post@openjur.de</a></li>
        </ul>
        <h3>Zwecke und Rechtsgrundlage für die Datenverarbeitung, Art. 13 Abs. 1 lit. c und d DSGVO</h3>
        <p>
          Wir verarbeiten personenbezogene Daten bei dem Zugriff auf die von
          uns betriebenen informationstechnischen Systeme (physische oder
          virtuelle Serversysteme) zu unterschiedlichen Zwecken. Dies
          betrifft die von Ihrem Endgerät öffentlich im Internet verwendete
          IP-Adresse, soweit sie unmittelbar mit Ihrem Endgerät auf das
          Internet zugreifen, oder die entsprechende IP-Adresse der jeweils
          letzten für unsere informationstechnischen Systeme sichtbaren
          Netzkomponente, soweit Sie mittelbar auf das Internet, etwa bei
          der Nutzung eines Proxy-Servers, VPN-Servers, Routers oder
          NAT-Gateways, zugreifen (im Folgenden: Ihre IP-Adresse).
        </p>
        <p>
          Einerseits geschieht dies, soweit es technisch für den Betrieb von
          Websites erforderlich ist<sup>(a)</sup>. Andererseits dient dies dem Schutz
          unserer informationstechnischen Systeme vor unberechtigten
          Zugriffen<sup>(b)</sup>.
        </p>
        <ul style="list-style-type: none">
          <li>
            <sup>(a)</sup> Bei jedem Aufruf einer Ressource (Seiten, Bilder, Dokumente)
              werden gewisse Daten verarbeitet, darunter auch Ihre IP-Adresse.
              Soweit Sie eine Ressource anfordern (etwa, indem sie eine Seite
              mit der URL openjur.de aurufen), die sich auf einem von uns
              betriebenen informationstechnischen Systemen befindet, greift ihr
              Endgerät mittelbar oder unmittelbar auf ein von uns betriebenes
              informationstechnisches System zu und initiiert dort eine
              entsprechende Datenverarbeitung, die in der Übermittlung
              entsprechender Informationen an ihr Endgerät resultiert. In diesem
              Rahmen und ausschließlich soweit dies für diesen technischen
              Vorgang der Informationzusammenstellung und -übermittlung
              notwendig ist, wird Ihre IP-Adresse für die Zeit der
              Informationszusammenstellung und -übermittlung verarbeitet und
              flüchtig gespeichert.
            <p>
              Für diese Datenverarbeitung berufen wir uns auf
              Art. 6 Abs. 1 lit. f DSGVO als Rechtsgrundlage. Der Betrieb von
              Lexparency und die Bereitstellung der hier veröffentlichten
              Informationen ist ein Mittel um den von uns verfolgten
              gemeinnützigen Gesellschaftszwecks zu erreichen, insoweit liegt
              unser berechtigtes Interesse in der Umsetzung dieses
              Gesellschaftszwecks.
            </p>
          </li>
          <li>
            <sup>(b)</sup> Soweit Sie in anderer Form als mittels einer HTTP- oder
              HTTPS-Verbindung auf von uns betriebene informationstechnische
              Systeme zugreifen und dabei versuchen Zugriffsbeschränkungen
              (etwa Passworteingaben) zu umgehen oder mittels einer HTTP- oder
              HTTPS-Verbindung automatisiert und wiederholt nicht für diese
              Zwecke zugelassene teile der Datenbank abzufragen, wird Ihnen
              der Zugriff auf unsere informationstechnischen Systeme nach einer
              gewissen Anzahl an Zugriffen für den Zeitraum von 24 Stunden
              verwehrt. Hierfür wird Ihre IP-Adresse für diesen Zeitraum
              gespeichert und verarbeitet.
            <p>
              Für diese Datenverarbeitung berufen wir uns auf
                Art. 6 Abs. 1 lit. f DSGVO als Rechtsgrundlage. Sie dient der
                Sicherung der Sicherheit und Integrität unserer
                informationstechnischen Systeme und insoweit liegt unser
                berechtigtes Interesse in der Sicherstellung des reibungslosen
                und sicheren Betriebs unserer informationstechnischen Systeme.
            </p>
          </li>
        </ul>
        <h3>Empfänger oder Kategorien von Empfängern der personenbezogenen Daten, Art. 13 Abs. 1 lit. e DSGVO</h3>
        <p>Eine Übermittlung personenbezogener Daten an Dritte findet nicht statt.</p>
        <h3>Absicht des Verantwortlichen, die personenbezogenen Daten an einen Empfänger in einem Drittland oder einer internationalen Organisation zu übermitteln, Art. 13 Abs. 1 lit. f DSGVO</h3>
        <p>Eine Übermittlung personenbezogener Daten an Empfänger in Drittländer
           oder an internationale Organisationen findet nicht statt.</p>
        <h3>Dauer der Speicherung personenbezogener Daten bzw. Kriterien für die Festlegung der Dauer, Art. 13 Abs. 2 lit. a DSGVO</h3>
        <p>Die Speicherung der IP Adresse zur technischen Übertragung der von
           Ihnen angeforderten Internetseite findet im Zeitraum der
            Zusammenstellung und Übertragung der von Ihnen angeforderten
            Informationen statt, also spätestens bis das informationtechnische
            System, zu dem Ihr Browser eine HTTPS-Verbindung aufbaut diese
            Verbindung schließt. Soweit die Speicherung zur Sicherung der
            Sicherheit ung Integrität unserer informationstechnischen Systeme
            bei unberechtigten Zugriffen erfolgt, so findet eine Speicherung
            bis spätestens 24 Stunde nach dem letzten unberechtigten Zugriff
            statt. Eine Speicherung eines eindeutigen Identifizierungsmerkmales
            zur Beschleunigung des TLS Schlüsselaustausch wird maximal zehn
            Minuten nach Ihrem letzten Zugriff gespeichert.</p>
        <h3>Betroffenenrechte, Art. 13 Abs. 2 lit. b DSGVO</h3>
        <p>Ihnen stehen aus der Datenschutzgrundverordnung verschiedene Betroffenenrechte zu:</p>
        <ul class="w3-ul">
          <li>Sie haben das Recht, von uns Auskunft über die bei uns
              gespeicherten personenbezogenen Daten zu verlangen, Art. 15 DSGVO.</li>
          <li>Sie haben das Recht, die Berichtigung unrichtiger
              personenbezogener Daten verlangen, Art. 16 DSGVO.</li>
          <li>Sie haben unter den Voraussetzungen des Art. 17 DSGVO das Recht,
              die Löschung der Sie betreffenden personenbezogenen Daten zu verlangen.</li>
          <li>Sie haben unter den Voraussetzungen des Art. 18 DSGVO das Recht,
              die Einschränkung der Verarbeitung der Sie betreffenden
              personenbezogenen Daten verlangen.</li>
          <li>Sie haben das Recht, soweit Sie uns personenbezogene Daten zur
              Verfügung gestellt haben, diese Daten in einem strukturierten,
              gängigen und maschinenlesbaren Format zu erhalten und, soweit
              dies technisch machbar ist, die Übermittlung an einen anderen
              Verantwortlichen zu erwirken, Art. 20 DSGVO.</li>
          <li>Soweit die Verarbeitung auf Grundlage von
              Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, haben Sie das Recht,
              jederzeit der Verarbeitung der Sie betreffenden
              personenbezogenen Daten zu widersprechen.</li>
        </ul>

        <h3>Beschwerderecht, Art. 13 Abs. 2 lit. d DSGVO</h3>
        <p>
          Neben den genannten Betroffenenrechten steht Ihnen auch das Recht zu,
            sich bei einer zuständigen Aufsichtsbehörde zu beschweren. Die für
            uns zuständige Aufsichtsbehörde ist:
        </p>
        <ul style="list-style-type: none">
          <li>Der Hamburgische Beauftragte für Datenschutz und Informationsfreiheit</li>
          <li>Ludwig-Erhard-Str 22, 7. OG</li>
          <li>20459 Hamburg</li>
          <li style="padding-top: 7px">Tel.: (+49) 040/42854-4040</li>
          <li>Fax: (+49) 040/42854-4000</li>
          <li>E-Mail: <a rel="nofollow" href="mailto:mailbox@datenschutz.hamburg.de">mailbox@datenschutz.hamburg.de</a></li>
        </ul>
      </div>
    </div>
  {% elif messenger.language_2 == 'en' %}
    <div class="w3-content w3-padding-64" style="max-width: 700px">
      <div class="w3-container">
        <h1>Data protection</h1>
        <p>
          On this page, we inform you about the data processing that takes
            place in the context of the use of the site "Lexparency"
            (hereinafter: Lexparency) and to what extent personal data is
            processed in the process by openJur gUG (haftungsbeschränkt)
            (hereinafter: operator or we). Our data processing at a glance:
        </p>
        <ul class="w3-ul">
          <li>We do not store information about identifiable individual
              accesses to content on Lexparency.
          </li>
          <li>We do not use cookies.</li>
          <li>We use your IP address and unique identifiers of your terminal
              device only as technically necessary to enable the use of
              Lexparency.
          </li>
          <li>We also use your IP address to protect our systems in the event
              that you attempt to access or penetrate our systems without
              authorization.
          </li>
        </ul>
        <h2>Information requirements according to Article 13 GDPR</h2>
        <p>Contact details of the persons responsible,
            Article 13 para. 1 lit. a GDPR</p>
        <ul style="list-style-type: none">
          <li>openJur gUG (haftungsbeschränkt)</li>
          <li>Tinsdaler Heideweg 48</li>
          <li>22559 Hamburg</li>
          <li style="padding-top: 7px;">Phone: (+49) 040/209 319 41 - 0</li>
          <li>Fax: (+49) 040/209 319 41 - 9</li>
          <li>E-mail address: post@openjur.de</li>
        </ul>

        <h3>Purposes and legal basis for data processing,
            Art. 13 para. 1 lit. c and d GDPR</h3>
        <p>
          We process personal data when accessing the information technology
            systems operated by us (physical or virtual server systems) for
            various purposes. This concerns the IP address publicly used by
            your terminal device on the Internet, insofar as you access the
            Internet directly with your terminal device, or the corresponding
            IP address of the respective last network component visible to our
            information technology systems, insofar as you access the Internet
            indirectly, for example when using a proxy server, VPN server,
            router or NAT gateway (hereinafter: your IP address).
        </p>
        <p>
          On the one hand, this is done insofar as it is technically necessary
            for the operation of websites<sup>(a)</sup>. On the other hand, this serves
            to protect our information technology systems from unauthorised
            access<sup>(b)</sup>.
        </p>
        <ul style="list-style-type: none">
          <li>
            <sup>(a)</sup> Every time you call up a resource (pages,
              images, documents), certain data is processed, including your
              IP address. If you request a resource (for example, by calling
              up a page with the URL openjur.de) that is located on an
              information technology system operated by us, your end device
              accesses an information technology system operated by us
              directly or indirectly and initiates corresponding data
              processing there, which results in the transmission of
              corresponding information to your end device. In this context
              and only to the extent necessary for this technical process of
              compiling and transmitting information, your IP address is
              processed and stored in a volatile form for the duration of the
              compilation and transmission of information.
            <p>
              We rely on Article 6 (1) lit. f GDPR as the legal basis for
                this data processing. The operation of Lexparency and the
                provision of the information published here is a means to
                achieve the non-profit corporate purpose pursued by us;
                to this extent, our legitimate interest lies in the
                implementation of this corporate purpose.
            </p>
          </li>
          <li>
            <sup>(b)</sup> If you access information technology systems
              operated by us in a way other than via an HTTP or HTTPS
              connection and attempt to circumvent access restrictions
              (such as password entries) or use an HTTP or HTTPS connection
              to automatically and repeatedly query parts of the database not
              permitted for these purposes, you will be denied access to our
              information technology systems after a certain number of
              accesses for a period of 24 hours. For this purpose, your IP
              address is stored and processed for this period.
            <p>
              We rely on Article 6 (1) lit. f GDPR as the legal basis for
                this data processing. It serves to ensure the security and
                integrity of our information technology systems and in this
                respect our legitimate interest lies in ensuring the smooth
                and secure operation of our information technology systems.
            </p>
          </li>
        </ul>
        <h3>Recipients or categories of recipients of the personal data,
            Article 13 para. 1 lit. e GDPR</h3>
        <p>Personal data is not transmitted to third parties.</p>
        <h3>Intention of the controller to transfer the personal data to
            a recipient in a third country or an international
            organisation, Article 13 para. 1 lit. f GDPR</h3>
        <p>Personal data is not transferred to recipients in third
            countries or to international organisations.</p>
        <h3>Duration of the storage of personal data or criteria for determining the duration, Article 13 para. 2 lit. a GDPR</h3>
        <p>The storage of the IP address for the technical transmission
            of the internet page requested by you takes place during the
            period of compilation and transmission of the information
            requested by you, i.e. at the latest until the information
            technology system to which your browser establishes an HTTPS
            connection closes this connection. Insofar as the storage takes
            place to secure the security and integrity of our information
            technology systems in the event of unauthorised access, storage
            takes place at the latest 24 hours after the last unauthorised
            access. Storage of a unique identifier to accelerate the TLS key
            exchange is stored for a maximum of ten minutes after your last
            access.
        </p>
        <h3>Data subject rights, Article 13 para. 2 lit. b GDPR</h3>
        <p>You are entitled to various data subject rights under the General
            Data Protection Regulation (GDPR):</p>
        <ul class="w3-ul">
          <li>You have the right to request information from us about the
              personal data stored by us, Article 15 GDPR.</li>
          <li>You have the right to request the correction of incorrect
              personal data, Article 16 GDPR.</li>
          <li>You have the right, under the conditions of Article 17 GDPR,
              to request the deletion of personal data concerning you.</li>
          <li>You have the right to request the restriction of the
              processing of personal data concerning you under the
              conditions of Article 18 GDPR.</li>
          <li>You have the right, insofar as you have provided us with
              personal data, to receive this data in a structured, common and
              machine-readable format and, insofar as this is technically
              feasible, to obtain its transfer to another controller,
              Article 20 GDPR.</li>
          <li>Insofar as the processing is carried out on the basis of
              Article 6 (1) lit. e or f GDPR, you have the right to object
              to the processing of the personal data relating to you at any
              time.
          </li>
        </ul>
        <h3>Right to complaint, Article 13 Abs. 2 lit. d GDPR</h3>
        <p>In addition to the aforementioned data subject rights, you also
            have the right to lodge a complaint with a supervisory authority.
            The supervisory authority responsible for us is:
        </p>
        <ul style="list-style: none">
          <li>Der Hamburgische Beauftragte für Datenschutz und Informationsfreiheit</li>
          <li>Ludwig-Erhard-Str 22, 7. OG</li>
          <li>20459 Hamburg</li>
          <li style="padding-top:7px">Phone: 040/42854-4040</li>
          <li>Fax: 040/42854-4000</li>
          <li>E-mail address: mailbox@datenschutz.hamburg.de</li>
        </ul>
      </div>
    </div>
  {% elif messenger.language_2 == 'es' %}
    <div class="w3-content w3-padding-64" style="max-width: 700px">
      <div class="w3-container">
        <h1>Protección de datos</h1>
        <p>Con esta declaración de protección de datos nos gustaría informarle,
            como usuario de esta aplicación web, el tipo, alcance y finalidad
            del tratamiento de datos personales a través de nuestra aplicación.
        </p>
        <h2>I. Collección / almacenaje de datos personales / naturaleza y fin de uso</h2>
        <p>
          Cuando visita este sitio web, el navegador utilizado en su dispositivo
            (por ejemplo, computadora, tableta, teléfono inteligente, etc.) envía
            información automáticamente al servidor en el que está alojada
            nuestra aplicación web. Esta información se almacena temporalmente
            en un archivo de registro.
        </p>
        <p>
          Esta es la siguiente información:
        </p>
        <ul>
          <li>
            Dirección IP de la computadora solicitante (pseudonimizada)
          </li>
          <li>
            Fecha y hora de acceso,
          </li>
          <li>
            URL del contenido accedido,
          </li>
          <li>
            navegador usado.
          </li>
        </ul>
        <p>
          Esta información se registra técnicamente sin ninguna acción por su
            parte y se almacena hasta que se elimina automáticamente. Los datos
            mencionados son procesados ​​por nosotros para garantizar una
            conexión fluida y un uso conveniente de nuestro sitio web, para
            evaluar la seguridad y estabilidad del sistema y para fines
            administrativos.
        </p>
        <p>
          Por lo tanto, el procesamiento de datos se basa en un interés legítimo
            de nuestra parte (base legal: Art. 6, párrafo 1, letra f) del RGPD),
            que se deriva de los fines de recopilación de datos antes mencionados.
            No utilizamos los datos recopilados con el fin de sacar conclusiones
            sobre usted personalmente.
        </p>
        <h2 id="cookies">II. Cookies</h2>
        <p>
          Esta aplicación web utiliza cookies para la medición de rango anónima,
            que se transmiten al navegador del usuario desde nuestro servidor o
            el servidor de terceros. Las cookies son pequeños archivos que se
            almacenan en su dispositivo. Su navegador accede a estos archivos.
            El uso de cookies aumenta la facilidad de uso y la seguridad de este
            sitio web. Configurar una cookie no nos da ningún conocimiento
            directo de su identidad.
        </p>
      </div>
    </div>
  {% endif %}
  {% include 'fragments/footer_base.html' %}
{% endblock %}