{% extends 'base.html' %}

{% block meta %}
  <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block body %}
  {% include 'fragments/top_nav_base.html' %}
  {% if messenger.language_2 == 'de' %}
    <div class="w3-content w3-padding-64" style="max-width: 700px">
      <div class="w3-container">
        <h1>Datenschutzerklärung</h1>
        <p>
          Auf dieser Seite informieren wir Sie über die im Rahmen der Nutzung
          der Seite "Lexparency" (im Folgenden: Lexparency) stattfindenden
          Datenverarbeitung und inwieweit dabei personenbezogene Daten durch
          die openJur gUG (haftungsbeschränkt) (im Folgenden: Betreiberin oder
          wir) verarbeitet werden. Das Wichtigste in Kürze:
        </p>
        <ul class="w3-ul">
            <li>Wir speichern keine Informationen über identifizierbaren
                Einzelzugriffe auf Inhalte von Lexparency.
            </li>
            <li>Wir verwenden keine Cookies.</li>
            <li>Wir verwenden Ihre IP-Adresse und eindeutige
                Identifizierungsmerkmale Ihres Endgerätes lediglich im
                technisch notwendigen Rahmen um die Nutzung von
                Lexparency zu ermöglichen.
            </li>
            <li>Wir verwenden Ihre IP-Adresse darüber hinaus um unsere
                Systeme zu schützen, wenn Sie versuchen unberechtigt auf
                unsere Systeme zuzugreifen oder in unsere Systeme
                einzudringen.
            </li>
        </ul>

        <h2>Informationspflichten i.S.d. Art. 13 DSGVO</h2>
        <p>Kontaktdaten der Verantwortlichen, Art. 13 Abs. 1 lit. a DSGVO</p>

        <ul style="list-style-type: none">
          <li><a href="https://openjur.de/i/ueber.html" target="_blank" rel="noopener">openJur gUG (haftungsbeschränkt)</a></li>
          <li>Tinsdaler Heideweg 48</li>
          <li>22559 Hamburg</li>
          <li style="padding-top: 7px">Telefon: (+49) 040/209 319 41 - 0</li>
          <li>Telefax: (+49) 040/209 319 41 - 9</li>
          <li>E-Mail-Adresse: <a rel="nofollow" href="mailto:post@openjur.de">post@openjur.de</a></li>
        </ul>
        <h3>Zwecke und Rechtsgrundlage für die Datenverarbeitung, Art. 13 Abs. 1 lit. c und d DSGVO</h3>
        <p>
          Wir verarbeiten personenbezogene Daten bei dem Zugriff auf die von
          uns betriebenen informationstechnischen Systeme (physische oder
          virtuelle Serversysteme) zu unterschiedlichen Zwecken. Dies
          betrifft die von Ihrem Endgerät öffentlich im Internet verwendete
          IP-Adresse, soweit sie unmittelbar mit Ihrem Endgerät auf das
          Internet zugreifen, oder die entsprechende IP-Adresse der jeweils
          letzten für unsere informationstechnischen Systeme sichtbaren
          Netzkomponente, soweit Sie mittelbar auf das Internet, etwa bei
          der Nutzung eines Proxy-Servers, VPN-Servers, Routers oder
          NAT-Gateways, zugreifen (im Folgenden: Ihre IP-Adresse).
        </p>
        <p>
          Einerseits geschieht dies, soweit es technisch für den Betrieb von
          Websites erforderlich ist<sup>(a)</sup>. Andererseits dient dies dem Schutz
          unserer informationstechnischen Systeme vor unberechtigten
          Zugriffen<sup>(b)</sup>.
        </p>
        <ul style="list-style-type: none">
          <li>
            <sup>(a)</sup> Bei jedem Aufruf einer Ressource (Seiten, Bilder, Dokumente)
              werden gewisse Daten verarbeitet, darunter auch Ihre IP-Adresse.
              Soweit Sie eine Ressource anfordern (etwa, indem sie eine Seite
              mit der URL openjur.de aurufen), die sich auf einem von uns
              betriebenen informationstechnischen Systemen befindet, greift ihr
              Endgerät mittelbar oder unmittelbar auf ein von uns betriebenes
              informationstechnisches System zu und initiiert dort eine
              entsprechende Datenverarbeitung, die in der Übermittlung
              entsprechender Informationen an ihr Endgerät resultiert. In diesem
              Rahmen und ausschließlich soweit dies für diesen technischen
              Vorgang der Informationzusammenstellung und -übermittlung
              notwendig ist, wird Ihre IP-Adresse für die Zeit der
              Informationszusammenstellung und -übermittlung verarbeitet und
              flüchtig gespeichert.
            <p>
              Für diese Datenverarbeitung berufen wir uns auf
              Art. 6 Abs. 1 lit. f DSGVO als Rechtsgrundlage. Der Betrieb von
              Lexparency und die Bereitstellung der hier veröffentlichten
              Informationen ist ein Mittel um den von uns verfolgten
              gemeinnützigen Gesellschaftszwecks zu erreichen, insoweit liegt
              unser berechtigtes Interesse in der Umsetzung dieses
              Gesellschaftszwecks.
            </p>
          </li>
          <li>
            <sup>(b)</sup> Soweit Sie in anderer Form als mittels einer HTTP- oder
              HTTPS-Verbindung auf von uns betriebene informationstechnische
              Systeme zugreifen und dabei versuchen Zugriffsbeschränkungen
              (etwa Passworteingaben) zu umgehen oder mittels einer HTTP- oder
              HTTPS-Verbindung automatisiert und wiederholt nicht für diese
              Zwecke zugelassene teile der Datenbank abzufragen, wird Ihnen
              der Zugriff auf unsere informationstechnischen Systeme nach einer
              gewissen Anzahl an Zugriffen für den Zeitraum von 24 Stunden
              verwehrt. Hierfür wird Ihre IP-Adresse für diesen Zeitraum
              gespeichert und verarbeitet.
            <p>
              Für diese Datenverarbeitung berufen wir uns auf
                Art. 6 Abs. 1 lit. f DSGVO als Rechtsgrundlage. Sie dient der
                Sicherung der Sicherheit und Integrität unserer
                informationstechnischen Systeme und insoweit liegt unser
                berechtigtes Interesse in der Sicherstellung des reibungslosen
                und sicheren Betriebs unserer informationstechnischen Systeme.
            </p>
          </li>
        </ul>
        <h3>Empfänger oder Kategorien von Empfängern der personenbezogenen Daten, Art. 13 Abs. 1 lit. e DSGVO</h3>
        <p>Eine Übermittlung personenbezogener Daten an Dritte findet nicht statt.</p>
        <h3>Absicht des Verantwortlichen, die personenbezogenen Daten an einen Empfänger in einem Drittland oder einer internationalen Organisation zu übermitteln, Art. 13 Abs. 1 lit. f DSGVO</h3>
        <p>Eine Übermittlung personenbezogener Daten an Empfänger in Drittländer
           oder an internationale Organisationen findet nicht statt.</p>
        <h3>Dauer der Speicherung personenbezogener Daten bzw. Kriterien für die Festlegung der Dauer, Art. 13 Abs. 2 lit. a DSGVO</h3>
        <p>Die Speicherung der IP Adresse zur technischen Übertragung der von
           Ihnen angeforderten Internetseite findet im Zeitraum der
            Zusammenstellung und Übertragung der von Ihnen angeforderten
            Informationen statt, also spätestens bis das informationtechnische
            System, zu dem Ihr Browser eine HTTPS-Verbindung aufbaut diese
            Verbindung schließt. Soweit die Speicherung zur Sicherung der
            Sicherheit ung Integrität unserer informationstechnischen Systeme
            bei unberechtigten Zugriffen erfolgt, so findet eine Speicherung
            bis spätestens 24 Stunde nach dem letzten unberechtigten Zugriff
            statt. Eine Speicherung eines eindeutigen Identifizierungsmerkmales
            zur Beschleunigung des TLS Schlüsselaustausch wird maximal zehn
            Minuten nach Ihrem letzten Zugriff gespeichert.</p>
        <h3>Betroffenenrechte, Art. 13 Abs. 2 lit. b DSGVO</h3>
        <p>Ihnen stehen aus der Datenschutzgrundverordnung verschiedene Betroffenenrechte zu:</p>
        <ul class="w3-ul">
          <li>Sie haben das Recht, von uns Auskunft über die bei uns
              gespeicherten personenbezogenen Daten zu verlangen, Art. 15 DSGVO.</li>
          <li>Sie haben das Recht, die Berichtigung unrichtiger
              personenbezogener Daten verlangen, Art. 16 DSGVO.</li>
          <li>Sie haben unter den Voraussetzungen des Art. 17 DSGVO das Recht,
              die Löschung der Sie betreffenden personenbezogenen Daten zu verlangen.</li>
          <li>Sie haben unter den Voraussetzungen des Art. 18 DSGVO das Recht,
              die Einschränkung der Verarbeitung der Sie betreffenden
              personenbezogenen Daten verlangen.</li>
          <li>Sie haben das Recht, soweit Sie uns personenbezogene Daten zur
              Verfügung gestellt haben, diese Daten in einem strukturierten,
              gängigen und maschinenlesbaren Format zu erhalten und, soweit
              dies technisch machbar ist, die Übermittlung an einen anderen
              Verantwortlichen zu erwirken, Art. 20 DSGVO.</li>
          <li>Soweit die Verarbeitung auf Grundlage von
              Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, haben Sie das Recht,
              jederzeit der Verarbeitung der Sie betreffenden
              personenbezogenen Daten zu widersprechen.</li>
        </ul>

        <h3>Beschwerderecht, Art. 13 Abs. 2 lit. d DSGVO</h3>
        <p>
          Neben den genannten Betroffenenrechten steht Ihnen auch das Recht zu,
            sich bei einer zuständigen Aufsichtsbehörde zu beschweren. Die für
            uns zuständige Aufsichtsbehörde ist:
        </p>
        <ul style="list-style-type: none">
          <li>Der Hamburgische Beauftragte für Datenschutz und Informationsfreiheit</li>
          <li>Ludwig-Erhard-Str 22, 7. OG</li>
          <li>20459 Hamburg</li>
          <li style="padding-top: 7px">Tel.: (+49) 040/42854-4040</li>
          <li>Fax: (+49) 040/42854-4000</li>
          <li>E-Mail: <a rel="nofollow" href="mailto:mailbox@datenschutz.hamburg.de">mailbox@datenschutz.hamburg.de</a></li>
        </ul>
      </div>
    </div>
  {% elif messenger.language_2 == 'en' %}
    <div class="w3-content w3-padding-64" style="max-width: 700px">
      <div class="w3-container">
        <h1>Data protection</h1>
        <p>
          With this privacy policy, we want to give you (i.e., as a user, prospect, and / or visitor)
            information on the nature, extent, and purpose of processing personal information through our online presence.
        </p>
        <h2>I. Collection / storage of personal data / nature and purpose of their use</h2>
        <p>
          When this website is accessed, the browser used on your device (for example, computer, tablet, smartphone, etc.)
            automatically sends information to the server on which our website is stored.
            This information is temporarily stored in a so-called logfile (log file).
        </p>
        <p>
          These are the following information:
        </p>
        <ul>
          <li>
            IP address of the requesting computer (pseudonymised)
          </li>
          <li>
            Date and time of access,
          </li>
          <li>
            Website from which access is made (referrer URL),
          </li>
          <li>
            Name and URL of the retrieved file,
          </li>
          <li>
            used browser and possibly the operating system of your computer.
          </li>
        </ul>
        <p>
          This information is collected technically without your intervention and stored until automated deletion.
            We process this data to ensure a smooth connection and convenient use of our website,
            to evaluate system security and stability, and for administrative purposes.
        </p>
        <p>
          Data processing is therefore based on a legitimate interest on our part
            (legal basis: <a rel="nofollow" href="/eu/32016R0679/ART_6/#1-f">Art. 6 (1) (f) GDPR</a>),
            which follows the aforementioned data collection purposes.
            We do not use the data collected for the purpose of obtaining inferences about your person.
        </p>
        <h2 id="cookies">II. Cookies</h2>
        <p>
          Cookies are used on this website.
            Cookies are small files that your browser or Internet access program
            automatically creates and that are stored on your device (laptop, tablet, smartphone, etc.) when you visit our site.
            Cookies do not contain viruses, Trojans or malicious software.
            A cookie is used to store information that relates to the specific device you are using.
            By setting a cookie, we do not receive any direct knowledge of your identity.
        </p>
        <p>
          The use of cookies on this website serves on the one hand to make the use of it more pleasant for you.
            So-called session cookies can be used so far to recognize that you have already visited individual pages of our website.
            These are automatically deleted after leaving our page. On the other hand, we use temporary cookies to optimize usability.
            These cookies are stored on your device for a certain period of time.
            If you visit our site again to take advantage of the services offered,
            you will automatically be aware that you have already been with us and about what inputs and settings you
            have made in order not to have to re-enter them.
        </p>
        <p>
          The data processed by cookies are required for the purposes mentioned
            to safeguard our legitimate interests as well as those of third parties
            (legal basis: <a rel="nofollow" href="/eu/32016R0679/ART_6/#1-f">Art. 6 (1) (f) GDPR</a>).
        </p>
        <p>
          Prevent Cookie Storage: Most browsers accept cookies automatically.
            However, you can configure your browser so that no cookies are stored on your computer,
            or always a hint appears before a new cookie is created.
            However, disabling cookies completely may mean that you can not use all features of our website.
            You can find information on the corresponding settings in the documentation for your Internet access software (browser).
        </p>
      </div>
    </div>
  {% elif messenger.language_2 == 'es' %}
    <div class="w3-content w3-padding-64" style="max-width: 700px">
      <div class="w3-container">
        <h1>Protección de datos</h1>
        <p>Con esta declaración de protección de datos nos gustaría informarle,
            como usuario de esta aplicación web, el tipo, alcance y finalidad
            del tratamiento de datos personales a través de nuestra aplicación.
        </p>
        <h2>I. Collección / almacenaje de datos personales / naturaleza y fin de uso</h2>
        <p>
          Cuando visita este sitio web, el navegador utilizado en su dispositivo
            (por ejemplo, computadora, tableta, teléfono inteligente, etc.) envía
            información automáticamente al servidor en el que está alojada
            nuestra aplicación web. Esta información se almacena temporalmente
            en un archivo de registro.
        </p>
        <p>
          Esta es la siguiente información:
        </p>
        <ul>
          <li>
            Dirección IP de la computadora solicitante (pseudonimizada)
          </li>
          <li>
            Fecha y hora de acceso,
          </li>
          <li>
            URL del contenido accedido,
          </li>
          <li>
            navegador usado.
          </li>
        </ul>
        <p>
          Esta información se registra técnicamente sin ninguna acción por su
            parte y se almacena hasta que se elimina automáticamente. Los datos
            mencionados son procesados ​​por nosotros para garantizar una
            conexión fluida y un uso conveniente de nuestro sitio web, para
            evaluar la seguridad y estabilidad del sistema y para fines
            administrativos.
        </p>
        <p>
          Por lo tanto, el procesamiento de datos se basa en un interés legítimo
            de nuestra parte (base legal: Art. 6, párrafo 1, letra f) del RGPD),
            que se deriva de los fines de recopilación de datos antes mencionados.
            No utilizamos los datos recopilados con el fin de sacar conclusiones
            sobre usted personalmente.
        </p>
        <h2 id="cookies">II. Cookies</h2>
        <p>
          Esta aplicación web utiliza cookies para la medición de rango anónima,
            que se transmiten al navegador del usuario desde nuestro servidor o
            el servidor de terceros. Las cookies son pequeños archivos que se
            almacenan en su dispositivo. Su navegador accede a estos archivos.
            El uso de cookies aumenta la facilidad de uso y la seguridad de este
            sitio web. Configurar una cookie no nos da ningún conocimiento
            directo de su identidad.
        </p>
      </div>
    </div>
  {% endif %}
  {% include 'fragments/footer_base.html' %}
{% endblock %}